Doodle data/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.egg-info
*.egg
*.manifest
*.spec
*.egg-info
*.egg
*.manifest
*.spec
*.egg-info
*.egg
*.manifest
*.spec
*.egg-info
*.egg
*.manifest
*.spec
*.egg-info
*.egg
*.manifest
*.spec
*.egg-info
*.egg
*.manifest
*.spec
*.egg-info
*.egg
*.manifest
*.spec
*.egg-info
*.egg
*.manifest